asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.3
diff-match-patch==20241021
distlib==0.4.0
Django==5.2.5
django-cleanup==9.0.0
django-import-export==4.3.9
django-jazzmin==3.0.1
filelock==3.18.0
gunicorn==23.0.0
idna==3.10
packaging==25.0
pillow==11.3.0
platformdirs==4.3.8
requests==2.32.5
sqlparse==0.5.3
tablib==3.8.0
tzdata==2025.2
urllib3==2.5.0
virtualenv==20.32.0
